body,h1,h2,h3,h4,h5,h6,div,ul,li,a,section,header,footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
:root{ 
    --dark: #080F11;
    --road: #183540;
    --dark-sky: #7C9EA6;
    --light-gray: #D1DEE1;
    --strawberry: #FF4343;
    --light-red: #FF9D99;
    --is_bg: #e53935;
    --is_bg_night: #0e0f16;
    --is_b_c: #FFD417;
    --is_body_bg: #993337;
    --input_b_c: #ffffffbb;
    --font_oolor: white;
    --btn_bg: var(--is_bg);
    --footer: rgb(39,31, 53);
}
.night{
    --is_bg: #080F11;
    --is_body_bg: #241e2b;
    --is_b_c: #313258;
    --input_b_c: #000000e8;
    color: var(--font_oolor);
    --btn_bg: var(--is_b_c);

}
body{
	background: #e53935;
    background: var(--is_bg);
    
	
	
}
.main{
    min-width: 360px;
}

.resp_body{
    
    display: grid;
    width: 960px;
    margin: auto;
}

.banner img{
    width: 100%;
    border-bottom: 3px solid var(--is_b_c);
}
.photo{
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 100px;
    overflow: hidden;
    outline: 3px solid var(--is_b_c);
    margin-top: -80px;
}

.photo img{
    width: 100%;
}
.is_container{
    display: grid;
    grid-template-columns: auto auto;
    
    background-color: var(--is_body_bg);
    padding: 16px 0px 0 0;
    
}
.is_container>div{
    margin: 12px;
}
.is_col_2{
    display: grid;
    grid-template-columns: auto;
}
.is_form_input{
    display: grid;
    grid-template-columns: auto auto;
    
    padding: 4px 0;
    justify-content: space-between;
}
.is_form_input>input{
    background: var(--input_b_c);
    border: none;
    line-height: 24px;
    padding: 4px 4px 4px 12px ;
    border-radius: 4px;
    width: 100%;
    font-size: large;
    color: #e53935;
    
}
input#name::before{
    background-color: #ffe600;
    width: 100%;
    height: 100%;
    
}
.form_p{
    padding: 24px 36px 24px 24px; 
}
.is_form_input>input:focus-visible{
    
    outline: 0px;
}
input#theme{
    appearance: none;
    cursor: pointer;
    position: relative;
    width: 80%;
    height: 25px;
    padding: 0;
    overflow: hidden;
    background: var(--is_b_c);
    border-radius: 100px;
    outline: 3px solid var(--is_bg);
    
}
input#theme::before{
    transition: 0.1s;
    position: absolute;
    content: "";
    height: 26px;
    width: 50%;
    background: var(--is_body_bg);
    border-radius: 16px 16px ;
    
}
input#theme:checked::before {
   
    transform: translateX(100%);
    --is_bg: #0e0f16;
   
}
#select{
    background: var(--btn_bg);
    margin: 0;
    width: 100%;
    padding: 0;
    height: 28px;
    border: 0px solid var(--input_b_c);
    border-radius: 3px;
    color: var(--font_oolor);
}
select#select option {
    background: var(--is_bg);
}
select#select:focus-visible {
    outline: 0px;
}
.is_grid_3{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: end;
    justify-content: space-around;}

    .is_grid_3:first-child{
    
    }
/* this portolio catd  */
.portfolio{
    background: var(--is_body_bg);
    margin: 5px;
}
.portfolio:first{
    margin-left: 0px;
}
.portfolio_container:first{
    
}

.cart_slide{
    width: 230px;
    height: 160px;
    overflow: hidden;
}
.cart_slide img{
    width: 100%;
}
.is_container_4{
    display: grid;
    grid-template-columns: auto auto auto
}

.is_flex{
    display: flex;
}
.isf1{
    flex: 100%; 
}
.isf2{
    flex: 50%; 
}
.isf3{
    flex: 33.333%; 
}
.isf4{
    flex: 25%; 
}
.isf6{
    flex: 20%; 
}
.isf7{
    flex: 14.285%; 
}
.isf7{
    flex: 14.285%; 
}
.isf8{
    flex: 12.5%; 
}
.isfp1{
    flex: 10%; 
}
.isfp2{
    flex: 20%; 
}
.isfp25{
    flex: 25%; 
}
.isfp3{
    flex: 30%; 
}
.isfp35{
    flex: 35%; 
}
.isfp4{
    flex: 40%; 
}
.isfp45 {
    flex: 45%;
}

.isfp5{
    flex: 50%; 
}
.isfp55{
    flex: 55%; 
}
.isfp6{
    flex: 60%; 
}
.isfp65{
    flex: 65%; 
}
.isfp17{
    flex: 70%; 
}
.isfp175{
    flex: 75%; 
}
.isfp8{
    flex: 80%; 
}
.isfp85{
    flex: 85%; 
}
.isfp9{
    flex: 90%; 
}
.isfp10{
    flex: 100%; 
}



.isf1{
    flex: 100%; 
}
.isf1{
    flex: 100%; 
}

.footer{
    background: var(--footer);
    color: rgb(224, 218, 218);
}
@media only screen and (max-width: 1024px) {
    
    
}
@media only screen and  (max-width: 960px) {
    .resp_body{
        width: 100%;
    }
}

@media only screen and (min-width: 640px) {
    
    .photo{
        margin-top: -70px;
        width: 80px;
        height: 80px;
    }
    .is_form_input{
        grid-template-columns: repeat(2, 1fr)
    }
    .is_col_4{
        grid-template-columns: 25% 25% 25% 25%;
    }
    .is_col_2{
        grid-template-columns: 50% 50%;
    }
}