.is_ma{
    margin: auto;
}
.is_ml_1{
    margin-left: 4px;
}
.is_ml_2{
    margin-left: 8px;
}
.is_ml_3{
    margin-left: 12px;
}
.is_ml_4{
    margin-left: 20px;
}
.is_ml_5{
    margin-left: 20px;
}
.is_mt_1{
    margin-top: 4px;
}
.is_mt_2{
    margin-top: 8px;
}
.is_mt_3{
    margin-top: 12px;
}
.is_mt_4{
    margin-top: 16px;
}
.is_mt_5{
    margin-top: 20px;
}
.is_ph_1{
    padding: 4px;
}
.is_ph_2{
    padding: 8px;
}
.is_ph_3{
    padding: 12px;
}
.is_ph_4{
    padding: 16px;
}
.is_ph_5{
    padding: 20px;
}
.is_ofh{
    overflow: hidden;
}
.is_pr_4{
    padding-right: 16px;
}
h4{
    font-size: x-large;
    padding: 8px;
  
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(255, 255, 255, 0.055);
    text-align: center;
    border-radius: 4px;
}
.submit{
    padding: 10px 8px;
    font-size: large;
    width: 50%;
    border: none;
    margin: 0 24%;
    margin-top: 12px;
    background: var(--btn_bg);
    color: var(--font_oolor);
}
.is_dn{
    display: none;
}
.is_ta_left{
    text-align: left;
}
.is_h4_2{
    background: var(--is_body_bg);
    text-align: left !important;
    font-family: sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    height: 70px;
    white-space: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #bcbcbc;
}
.is_c_y{
    color: yellow;
}
/* Item aline */
.is_t_end{
    align-items: flex-end;
}

/* Text aline  */
.is_t_center{
    text-align: center;
}
.is_t_end{
    text-align: end;
}

.twitter::before{
    
font-weight: 400;
	content: "\1F3DC";
}
.is_j_center{
    justify-content: center;
}
